apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 876594438092.dkr.ecr.us-west-2.amazonaws.com/shopping-site-backend:c2dfcf2a6c6031c8c82c30a68bd23c8e55e14a0b
          ports:
            - containerPort: 5000
